
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo à LojaVirtual</h1>
    <p>Projeto Que visa a criação de uma Loja Virtual, simulando login,compra de Produtos bem como Filtros de busca.</p>
    <div class="">
        <a class=" btn btn-primary" role="button" asp-controller="Produtos" asp-action="GetProdutos">Listagem de produtos</a>
    </div>
</div>
