
@{
    ViewData["Title"] = "Objetivos do projeto";
}
<b>

</b>
<h2 class="text-center">@ViewData["Title"]</h2>
<b><b><b></b></b></b>
    <div class="form-text">
        <p> - Desenvolver uma loja virtual com estruturas seguras de BackEnd.</p>
        <p> Utilize HTML, CSS e JavaScript para a parte frontend.</p>
        <p> O projeto deve contar com a exibição de produtos, gerenciamento de carrinho de compras e processamento de pedidos, etc...
            Aprenda a utilizar bancos de dados para armazenar informações sobre produtos e clientes, e experimentar a integração de sistemas de pagamento online.
        </p>
        <p>
            O código pode ser usado por qualquer um, peço apenas que disponibilizem os créditos.                         
        </p>
        <p>Obrigado por ler até aqui.</p>
    </div>